
/* TOP BAR */

.heart {
    color: #3a494c;
    font-size: x-large;
}

.topBar {
    background-color: #a7d3dc;
}

.topBar p {
    /* border: 2px solid red; */
    font-weight: 600;
    color: #3a494c;
    font-size: large;
}
.topBar li {
    padding: 0 1%;
    font-weight: 500;
}

.topBar li a {
    text-decoration: none;
    list-style-type: none;
    color: #3a494c;
}

/* HERO SECTION */

.hero {
    background-color: #a7d3dc;
}

.heroRow h1 {
    color: #fffeff;
    font-family: "Tektur", sans-serif;
}

/* CIRCLES */

.circles {
    background-color: #a7d3dc;
}

.circles button {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 1rem;
    background-color: transparent;
}

/* SERVICES */

.services {
    background-color: #fffeff;
}

/* RECENT WORKS */

.recentWorks {
    background-color: #99d4a6;
    justify-items: center;
}

.recentWorks h2 {
    color: #ffffff;
    font-family: "Tektur", sans-serif;
}

.recentWorks p {
    color: #c0e5c3;
}

.recentWorks li {
    padding: 0 1%;
    font-weight: 500;
}

.recentWorks li a {
    text-decoration: none;
    list-style-type: none;
    color: #fffffd;
}

.recentWorks button {
    background-color: #ffffff;
    color: #a1a3a2;
    border: none;
    border-radius: 8px;
    height: 2.5rem;
    font-size: smaller;
    font-weight: 500;
}

/* INFORMATION SECTION */

.infoRowTop {
    background-color: #f1f1f1;
    border-bottom: 2px solid #cacaca;
}

.infoRowTop button {
    background-color: #9ad3a6;
    color: #fffffd;
    border: none;
    border-radius: 8px;
    height: 2.5rem;
    font-size: smaller;
    font-weight: 500;
}

.infoRowBottom {
    background-color: #f1f1f1;
}

.infoRowBottom button {
    background-color: #a4d3db;
    color: #fffffd;
    border: none;
    border-radius: 8px;
    height: 2.5rem;
    font-size: smaller;
    font-weight: 500;
}

/* MEET OUR TEAM */

.meetTeam {
    background-color: #dfb6c6;
}

.teamCardInfo {
    background-color: #ffffff;
    text-align: center;
}

.meetTeamRow h2 {
    color: #ffffff;
    font-family: "Tektur", sans-serif;

}

.meetTeamRow p {
    color: #efdae3;

}

.meetTeam button {
    border: none;
    background-color: #ffffff;
}

.teamButtons {
    background-color: #ffffff;
    text-align: center;
}

/* RECENT POSTS */

.recentPosts {
    background-color: #b2d2dd;
}

.recentPostsRow {
    text-align: center;
}

.recentPosts h2 {
    color: #ffffff;
    font-family: "Tektur", sans-serif;
}

.recentPosts p {
    color: #d6e9f0;
}

.postText {
    background-color: #ffffff;
    text-align: center;
}

.postText h5 {
    color: #373737;
}

.postText p:nth-child(2) {
    color: #535353;
}

.postText p:nth-child(3) {
    color: #919191;
}

.recentPosts button {
    background-color: #ffffff;
    color: #b2d4e0;
    border: none;
    border-radius: 8px;
    height: 2.5rem;
    font-size: smaller;
    font-weight: 500;
}

/* CONTACT US */

.contactUs {
    background-color: #3c3c3c;
}

.contactUs h2 {
    color: #d4d0d1;
    font-family: "Tektur", sans-serif;
}

.contactUs p {
    color: #fefefe;
}

.form input, textarea {
    width: 20rem;

}

